
{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table">

            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>$10,000.00</td>
                </tr>
            </tfoot>
            <tbody>
                <!--Display Quote collection-->
                <!--Display Remaining monies-->
            </tbody>

        </table>

{% endblock %}