
{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table">

            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>$10,000.00</td>
                </tr>
            </tfoot>
            <tbody class="users-portfolio">
                <!--stocks owned-->
                {% for stock in stocks %}
                    <td>{{ stock.symbol }} {{ stock.name }} {{ shares }} {{ price }} {{ cash }}</td>
                {% endfor %}
            </tbody>

        </table>

{% endblock %}