
{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table">

            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>

            <tbody class="users-portfolio">
                <!--stocks owned-->
                 {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>

                    <td colspan="4"></td>
                    <td>{{ cash }}</b></td>
                </tr>
            </tfoot>

        </table>

{% endblock %}